@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  Lato,Arial;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.porfolioWallContainer{
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1185px;
    width: 100%;
    margin: 70px auto 0;
    padding: 20px 10px;
    column-gap: 20px;
    row-gap: 50px;
}

.porfolioWallContainer .porfolioInfo{
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    max-width: 527px;
    width: 100%;
}
.porfolioInfo h2{
    font-size: 2.625rem;
    font-weight: bold;
    color: #0C1D31;
}

.porfolioInfo h2 span{
    color: #DF463C;
}

.porfolioInfo p{
    font-size: 1.5rem;
    line-height: 42px;
}


.porfolioWallContainer .porfolioImgContainer{
    max-width: 562px;
    width: 100%;
}

.porfolioImgContainer img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

@media only screen and (max-width:1170px){
    .container{
        max-width: 1024px;
        overflow: hidden;
    }
    .porfolioWallContainer .porfolioInfo {
        max-width: 460px;
    }
    .porfolioWallContainer .porfolioImgContainer {
        max-width: 460px;
    }
}

@media only screen and (max-width:1023px){
    .container{
        max-width: 768px;
    }
    .porfolioWallContainer .porfolioInfo {
        max-width: 350px;
    }
    .porfolioWallContainer .porfolioImgContainer {
        max-width: 350px;
    }
}

@media only screen and (max-width:767px){
    .container{
        max-width: 700px;
    }
    .porfolioWallContainer{
        padding: 0 30px;
    }
    .porfolioWallContainer .porfolioInfo {
        align-items: center;
        justify-content: center;
        max-width: 100%;
    }
    .porfolioWallContainer .porfolioImgContainer {
        max-width: 100%;
    }
    .porfolioInfo h2{
        text-align: center;
    }
    .porfolioInfo p{
        text-align: center;
    }

}